<div class="card-container" [ngClass]="'card-' + color">
  <div class="card-content">
    <div class="card-icon" [ngClass]="'icon-' + color">
      <span class="icon-text">{{ icon }}</span>
    </div>
    <div class="card-info">
      <h1 class="card-value">{{ value }}</h1>
      <p class="card-title">{{ title }}</p>
    </div>
  </div>
  <div class="card-footer" *ngIf="percentage !== undefined">
    <div class="progress-bar">
      <div class="progress-fill" [ngClass]="'progress-' + color" [style.width.%]="percentage"></div>
    </div>
  </div>
</div>
