
<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <label for="my-drawer-4" aria-label="open sidebar" class="btn btn-square btn-ghost md:hidden">
       <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#5985E1"
            >
              <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
            </svg>
    </label>
    <a class="btn btn-ghost text-xl">💊Medic <span class="text-ocean">AI</span></a>
  </div>
  <div class="flex gap-2 md:px-6">
    <input type="text" placeholder="Pesquisar produto" class="input input-bordered- w-35 rounded-4xl md:w-auto" />
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img
            alt="Usuário"
            src="/img/UI/avatar.webp" />
        </div>
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li>
          <a class="justify-between">
         Usuário
            <span class="badge bg-ocean">Novo</span>
          </a>
        </li>
        <li><a>Configurações</a></li>
        <li><a>Sair</a></li>
      </ul>
    </div>
  </div>
</div>