<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Disponibilidade</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <tr class="bg-base-200">
        <th>0001</th>
        <td>Dipirona</td>
        <td class="font-medium">Analgésicos <a class="font-light underline pl-2 text-ocean" href="https://google.com">Ver mais</a></td>
        <td><span class="font-bold text-yellow-500">60</span>/200</td>
      </tr>
      <!-- row 2 -->
      <tr>
        <th>0002</th>
        <td>Rémedio para tosse</td>
         <td class="font-medium">Xarope para tosse<a class="font-light underline pl-2 text-ocean" href="https://google.com">Ver mais</a></td>
        <td><span class="font-bold text-red-500">20</span>/200</td>
      </tr>
      <!-- row 3 -->
      <tr>
        <th>0003</th>
        <td>Ibuprofeno</td>
         <td class="font-medium">Analgésicos, Antinflamatório <a class="font-light underline pl-2 text-ocean" href="https://google.com">Ver mais</a></td>
        <td><span class="font-bold text-green-500">80</span>/100</td>
      </tr>
    </tbody>
  </table>
</div>