<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Disponibilidade</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <tr class="bg-base-200" *ngFor="let m of data">
        <th>{{m.id}}</th>
        <td>{{m.nome}}</td>
        <td class="font-medium">{{m.descricao}}<a class="font-light underline pl-2 text-ocean" href="https://google.com">Ver mais</a></td>
        <td>{{m.quantidade}}</td>
      </tr>
      <!-- row 2 -->
     
      <!-- row 3 -->
     
    </tbody>
  </table>
</div>